### 모델링을 위한 기본 전처리

- 기본적인 전처리는 파이썬에서 가능한 부분은 파이썬에서 수행하며, SQL에서 가능한 부분은 SQL에서 수행한다.

- 다루는 내용
    - `시간 관련 전처리`
        - DATETIME에서 MONTH, HOUR, WEEKDAY 등 추출
    - `BigQuery GIS`로 Reverse Geocoding
        - 좌표 => zip_code로 변환
    - `학습/ 테스트 데이터 분리`
        - train_split_test
    - `카테고리컬` 데이터 전처리
        - One Hot Encoding
        - Label Encoding

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
import warnings
import seaborn as sns
from sklearn.linear_model import LinearRegression
warnings.filterwarnings('ignore')

PROJECT_ID = 'new-york-taxi-309501'

### 시간관련 전처리
- Bigquery vs Python
    - Bigquery
        - DATETIME_TRUNC 함수를 사용하면 데이터 자르기 가능
        - EXTRACT 함수를 사용하면 MONTH, WEEK, DAY, HOUR등을 쉽게 추출 가능
        - FORMAT_DATETIME 함수를 사용하면 요일 추출 가능( 1이 월요일, Pandas에서는 0이 월요일 )

In [2]:
extract_query = """
SELECT
    *,
    EXTRACT(MONTH FROM pickup_hour) AS month,
    EXTRACT(DAY FROM pickup_hour) AS day,
    CAST(format_datetime('%u', pickup_hour) AS INT64) -1 AS weekday, # Python과 맞추기 위해 -1
    EXTRACT(HOUR FROM pickup_hour) AS hour,
    CASE WHEN CAST(FORMAT_DATETIME('%u', pickup_hour) AS INT64) IN (6, 7) THEN 1 ELSE 0 END AS is_weekend
FROM (
    SELECT 
        DATETIME_TRUNC(pickup_datetime, hour) AS pickup_hour,
        count(*) AS cnt
    FROM `bigquery-public-data.new_york_taxi_trips.tlc_yellow_trips_2015` 
    WHERE EXTRACT(MONTH from pickup_datetime) = 1
    GROUP BY pickup_hour
)
ORDER BY pickup_hour
"""

df = pd.read_gbq(query=extract_query, dialect='standard', project_id='new-york-taxi-309501')

Downloading: 100%|███████████████████████████████████████████████████████████████| 744/744 [00:00<00:00, 1958.09rows/s]

In [3]:
df

            pickup_hour    cnt  month  day  weekday  hour  is_weekend
0   2015-01-01 00:00:00  28312      1    1        3     0           0
1   2015-01-01 01:00:00  31707      1    1        3     1           0
2   2015-01-01 02:00:00  28068      1    1        3     2           0
3   2015-01-01 03:00:00  24288      1    1        3     3           0
4   2015-01-01 04:00:00  17081      1    1        3     4           0
..                  ...    ...    ...  ...      ...   ...         ...
739 2015-01-31 19:00:00  32436      1   31        5    19           1
740 2015-01-31 20:00:00  27555      1   31        5    20           1
741 2015-01-31 21:00:00  27477      1   31        5    21           1
742 2015-01-31 22:00:00  29862      1   31        5    22           1
743 2015-01-31 23:00:00  29856      1   31        5    23           1

[744 rows x 7 columns]

- Python 
    - Pandas datetime 형식으로 처리하기
    - `pd.to_datetime`으로 datetime 변환 후, df[col].dt.xxx 로 추출

In [4]:
extract_query = """
SELECT 
    DATETIME_TRUNC(pickup_datetime, hour) AS pickup_hour,
    count(*) AS cnt
FROM `bigquery-public-data.new_york_taxi_trips.tlc_yellow_trips_2015` 
WHERE EXTRACT(MONTH from pickup_datetime) = 1
GROUP BY pickup_hour
ORDER BY pickup_hour
"""

df = pd.read_gbq(query=extract_query, dialect='standard', project_id='new-york-taxi-309501')

Downloading: 100%|███████████████████████████████████████████████████████████████| 744/744 [00:00<00:00, 1800.89rows/s]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744 entries, 0 to 743
Data columns (total 2 columns):
pickup_hour    744 non-null datetime64[ns]
cnt            744 non-null int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 11.8 KB

In [6]:
df['month'] = df['pickup_hour'].dt.month
df['day'] = df['pickup_hour'].dt.day
df['weekday'] = df['pickup_hour'].dt.weekday
df['hour'] = df['pickup_hour'].dt.hour
df['is_weekend'] = (df['pickup_hour'].dt.weekday // 5 == 1).astype(int)

In [7]:
df.head()

          pickup_hour    cnt  month  day  weekday  hour  is_weekend
0 2015-01-01 00:00:00  28312      1    1        3     0           0
1 2015-01-01 01:00:00  31707      1    1        3     1           0
2 2015-01-01 02:00:00  28068      1    1        3     2           0
3 2015-01-01 03:00:00  24288      1    1        3     3           0
4 2015-01-01 04:00:00  17081      1    1        3     4           0

### `BigQuery GIS`로 Reverse Geocoding
- 좌표 => zip_code로 변환
- ST_CONTAINS 함수로 추출 가능

In [8]:
base_query = """
WITH base_data AS 
(
  SELECT nyc_taxi.*, gis.* EXCEPT (zip_code_geom)
  FROM (
    SELECT *
    FROM `bigquery-public-data.new_york_taxi_trips.tlc_yellow_trips_2015`
    WHERE 
        EXTRACT(MONTH from pickup_datetime) = 1
        and pickup_latitude  <= 90 and pickup_latitude >= -90
    ) AS nyc_taxi
  JOIN (
    SELECT zip_code, state_code, state_name, city, county, zip_code_geom
    FROM `bigquery-public-data.geo_us_boundaries.zip_codes`
    WHERE state_code='NY'
    ) AS gis 
  ON ST_CONTAINS(zip_code_geom, st_geogpoint(pickup_longitude, pickup_latitude))
)

SELECT 
    zip_code,
    DATETIME_TRUNC(pickup_datetime, hour) as pickup_hour,
    EXTRACT(MONTH FROM pickup_datetime) AS month,
    EXTRACT(DAY FROM pickup_datetime) AS day,
    CAST(format_datetime('%u', pickup_datetime) AS INT64) -1 AS weekday,
    EXTRACT(HOUR FROM pickup_datetime) AS hour,
    CASE WHEN CAST(FORMAT_DATETIME('%u', pickup_datetime) AS INT64) IN (6, 7) THEN 1 ELSE 0 END AS is_weekend,
    COUNT(*) AS cnt
FROM base_data 
GROUP BY zip_code, pickup_hour, month, day, weekday, hour, is_weekend
ORDER BY pickup_hour


"""

base_df = pd.read_gbq(query=base_query, dialect='standard', project_id='new-york-taxi-309501')

Downloading: 100%|██████████████████████████████████████████████████████████| 87020/87020 [00:05<00:00, 14789.70rows/s]

In [9]:
base_df

,zip_code,pickup_hour,month,day,weekday,hour,is_weekend,cnt
0,10037,2015-01-01 00:00:00,1,1,3,0,0,26
1,10039,2015-01-01 00:00:00,1,1,3,0,0,9
2,11105,2015-01-01 00:00:00,1,1,3,0,0,32
3,11238,2015-01-01 00:00:00,1,1,3,0,0,95
4,11203,2015-01-01 00:00:00,1,1,3,0,0,3
...,...,...,...,...,...,...,...,...
87015,10044,2015-01-31 23:00:00,1,31,5,23,1,6
87016,10009,2015-01-31 23:00:00,1,31,5,23,1,1166
87017,10020,2015-01-31 23:00:00,1,31,5,23,1,66
87018,11102,2015-01-31 23:00:00,1,31,5,23,1,23
87019,10168,2015-01-31 23:00:00,1,31,5,23,1,22

### Categorical 데이터 전처리

- 1) One Hot Encoding

In [10]:
ohe = OneHotEncoder(handle_unknown='ignore')
ohe.fit(base_df[['zip_code']])
ohe_output = ohe.transform(base_df[['zip_code']]).toarray()
ohe_feature_df = pd.concat([base_df, pd.DataFrame(ohe_output, columns='zip_code_'+ohe.categories_[0])], axis=1)
ohe_feature_df.head()

,zip_code,pickup_hour,month,day,weekday,hour,is_weekend,cnt,zip_code_10001,zip_code_10002,...,zip_code_12601,zip_code_12729,zip_code_12771,zip_code_13029,zip_code_13118,zip_code_13656,zip_code_13691,zip_code_14072,zip_code_14527,zip_code_14801
0,10037,2015-01-01,1,1,3,0,0,26,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10039,2015-01-01,1,1,3,0,0,9,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,11105,2015-01-01,1,1,3,0,0,32,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,11238,2015-01-01,1,1,3,0,0,95,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,11203,2015-01-01,1,1,3,0,0,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

- 2) One Hot Encoding

In [11]:
# le = LabelEncoder()
# le.fit(base_df['zip_code'])
# base_df['zip_code_le'] = le.transform(base_df['zip_code'])

### 학습/ 테스트 데이터 분리

- 시계열 데이터에는 Random Sampling 이 적합하지 않음
- train 데이터에는 과거에 대한 데이터, test 데이터에는 미래에 대한 데이터가 존재해야 과거데이터 기반으로 미래 데이터를 예측할 수 있음

In [12]:
def split_train_and_test(df, date):
    train_df = df[df['pickup_hour'] < date]
    test_df = df[df['pickup_hour'] >= date]
    return train_df, test_df

# 데이터 프레임에서 train_df, test_df로 나눠주는 함수로 df 는 시계열 데이터 프레임, date 는 기준 날짜

In [13]:
def split_train_and_test_period(df, period):
    criteria = (max(df['pickup_hour']) - pd.Timedelta(days=period)).date()
    train_df = df[df['pickup_hour'] < criteria]
    test_df = df[df['pickup_hour'] >= criteria]
    return train_df, test_df

# 데이터 프레임에서 train_df, test_df로 나눠주는 함수로 train/test 기준일을 정해서 기준일에 따라 데이터를 분류할 수 있음

In [14]:
train_df, test_df = split_train_and_test(ohe_feature_df,'2015-01-25')

In [15]:
train_df.head()

,zip_code,pickup_hour,month,day,weekday,hour,is_weekend,cnt,zip_code_10001,zip_code_10002,...,zip_code_12601,zip_code_12729,zip_code_12771,zip_code_13029,zip_code_13118,zip_code_13656,zip_code_13691,zip_code_14072,zip_code_14527,zip_code_14801
0,10037,2015-01-01,1,1,3,0,0,26,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10039,2015-01-01,1,1,3,0,0,9,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,11105,2015-01-01,1,1,3,0,0,32,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,11238,2015-01-01,1,1,3,0,0,95,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,11203,2015-01-01,1,1,3,0,0,3,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
test_df.head()

,zip_code,pickup_hour,month,day,weekday,hour,is_weekend,cnt,zip_code_10001,zip_code_10002,...,zip_code_12601,zip_code_12729,zip_code_12771,zip_code_13029,zip_code_13118,zip_code_13656,zip_code_13691,zip_code_14072,zip_code_14527,zip_code_14801
68051,10075,2015-01-25,1,25,6,0,1,249,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
68052,10024,2015-01-25,1,25,6,0,1,514,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
68053,10005,2015-01-25,1,25,6,0,1,88,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
68054,10065,2015-01-25,1,25,6,0,1,408,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
68055,11201,2015-01-25,1,25,6,0,1,156,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
del train_df['zip_code']
del train_df['pickup_hour']
del test_df['zip_code']
del test_df['pickup_hour']

In [18]:
y_train = train_df.pop('cnt')
x_train = train_df.copy()

In [19]:
y_test = test_df.pop('cnt')
x_test = test_df.copy()

In [20]:
x_train

,month,day,weekday,hour,is_weekend,zip_code_10001,zip_code_10002,zip_code_10003,zip_code_10004,zip_code_10005,...,zip_code_12601,zip_code_12729,zip_code_12771,zip_code_13029,zip_code_13118,zip_code_13656,zip_code_13691,zip_code_14072,zip_code_14527,zip_code_14801
0,1,1,3,0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1,3,0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,1,3,0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,1,3,0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,1,3,0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68046,1,24,5,23,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
68047,1,24,5,23,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
68048,1,24,5,23,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
68049,1,24,5,23,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
68050,1,24,5,23,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
y_train

0         26
1          9
2         32
3         95
4          3
        ...
68046    413
68047     18
68048      1
68049      3
68050      4
Name: cnt, Length: 68051, dtype: int64

In [22]:
y_test

68051     249
68052     514
68053      88
68054     408
68055     156
         ...
87015       6
87016    1166
87017      66
87018      23
87019      22
Name: cnt, Length: 18969, dtype: int64

In [23]:
x_test

,month,day,weekday,hour,is_weekend,zip_code_10001,zip_code_10002,zip_code_10003,zip_code_10004,zip_code_10005,...,zip_code_12601,zip_code_12729,zip_code_12771,zip_code_13029,zip_code_13118,zip_code_13656,zip_code_13691,zip_code_14072,zip_code_14527,zip_code_14801
68051,1,25,6,0,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
68052,1,25,6,0,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
68053,1,25,6,0,1,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
68054,1,25,6,0,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
68055,1,25,6,0,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87015,1,31,5,23,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
87016,1,31,5,23,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
87017,1,31,5,23,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
87018,1,31,5,23,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
87019,1,31,5,23,1,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0